/* Common nav style */
.navigation-wrapper{
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
/*flexbox container*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*padding*/
    padding: 60px 100px;
   /* padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;*/
}
/*left colum*/
.navigation-wrapper> .left-column{
    display: flex;
    align-items: center;
}
.navigation-wrapper> .left-column> .icon{
    margin-right: 15px;
}
.navigation-wrapper> .left-column> .icon i {
    font-size: 2em;
}
.left-column >.left-column> .contact-hours-wrapped{
    display: grid;
    grid-template-columns:repeat(0,1fr) 1fr;
    grid-gap: 10px;
    color: white;
    
}
.navigation-wrapper> .left-column> .contact-hours-wrapped>.hours{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
    font-size: 0.8em;
}
.links-wrapper> .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
}
/* .nav-link{
    color: seagreen;

} */
/*rigth colum*/
.navigation-wrapper> .rigth-column{
    display: flex;
    align-items: center;
}
.navigation-wrapper> .rigth-column> .adress-wrapped{
    color:white;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: right;
    
}
.navigation-wrapper> .rigth-column> .adress-wrapped a{
color: #858585;
text-decoration: none;
font-size: 0.9em;
transition: 0.5s;
}
.navigation-wrapper> .rigth-column> .adress-wrapped a:hover{
    color: #cea135;
   
    }
.navigation-wrapper> .rigth-column> .contact-icon{
    margin-left: 15px;
    font-size: 2em;
}
.navigation-wrapper> .rigth-column> .contact-icon a{
    color: #cbcbcb;
    transition: 0.5s;
   
}
.navigation-wrapper> .rigth-column> .contact-icon a:hover{
    color: #cea135;
   
}
/*center colum*/
.navigation-wrapper> .center-column{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}
.navigation-wrapper> .center-column> .banner-image{
    display: flex;
    justify-content: center;
}
.navigation-wrapper> .center-column> .banner-image img{
    width:216px;
    height: 100%;
  
}
.links-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links-wrapper> .nav-link{
    width: 70px;
    text-align: center;
}
.links-wrapper> .nav-link a{
    font-family: "Ubuntu Condensed", sans-sherif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;

}
.links-wrapper> .nav-link a:hover{
color: #cea135;
letter-spacing: 2px;

}